<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
 <key>Filter</key>
 <dict>
 <key>Bundles</key>
 <array>
 <string>com.woostergames.animalcompany</string>
 <string>com.woostergames.animalcompanycompanion</string>
 <string>com.woostergames.animalcompany.companion</string>
 <string>com.woostergames.animalcompanycompanionapp</string>
 <string>com.woostergames.animalcompanycompanionios</string>
 <string>com.woostergames.companion</string>
 <string>com.woostergames.accompanion</string>
 </array>
 </dict>
</dict>
</plist>
